.card {
    margin: 10px;
    padding: 10px;
    border: 2px solid #9a2e29;
    font-size: 14px;
    color: black;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
    color: black;
    text-align: center; 
    margin-bottom: 2%;
    width: 300px;
    height: 150px;
    
}


.cardTitulo {
    color:black;
    padding-bottom: 50px;
    font-size: 16px;
    
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%; 
    box-sizing: border-box;



    
  
   
}

.card .btn{
    text-decoration: none;
    background-color: plum;
    color: #222;
    padding: .7em 1.2em;
    border-radius: 10px;
    font-weight: bold;
    transition: .4s;
    text-align: center;
    border: wheat;

}

.card .btn:hover{
    background-color: purple;
    color: #fff;
    
}








